/* Graphik Trial - Regular */
@font-face {
    font-family: "Graphik Trial";
    src: url("../assets/fonts/Graphik-Regular-Trial.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Graphik Trial - Medium */
@font-face {
    font-family: "Graphik Trial";
    src: url("../assets/fonts/Graphik-Medium-Trial.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Graphik Trial - Bold */
@font-face {
    font-family: "Graphik Trial";
    src: url("../assets/fonts/Graphik-Bold-Trial.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}