

h1.page-title{
    font-size: 24px;
    color: var(--color-tertiary);
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 17px;
}

.list{
    margin: 0;
    width: 100%;
    padding-left: 33px;
    padding-bottom: 10px;
}

.separation{
    width: 30px;
    height: 6px;
    background-color: var(--color-principal);
    margin-bottom: 8px;
}

.findArtisan, .topArtisan{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--color-principal);
}

.Top {
    margin: 0;
    width: 100%;
    padding-left: 33px;
    padding-bottom: 10px;
}

.Top .separation{
    background-color: var(--color-valid);
}

/* Carousel "tuiles qui défilent" */

.tta-carousel {

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 75%;
    gap: 1rem;

    overflow-x: auto;
    padding: 0.25rem 0 0.75rem;

    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.tta-carousel__item {
    scroll-snap-align: start;
}


/* Tablet */
@media (min-width: 768px) {
    .tta-carousel {
        grid-auto-columns: 45%;
    }
}

/* Desktop */
@media (min-width: 992px) {

    .tta-carousel {
        grid-auto-columns: 30%;
    }
}