header{
    max-width: 767px;
}
.navbar{
    height: 73px;
    max-width: 767px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: .15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
}

.navTop{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    // gap: 24px;
}

.navTop .logo_header{
    width: 123px;
    height: auto;
    margin-left: 0px;
}

.navActions{
    display: flex;
    align-items: center;
    gap: 5px;
}

.navActions .searchForm{
    display: none;
}

i.fa-bars {
    color: var(--color-principal);
    font-size: 38px;
    padding-right: 13px;
}

i.fa-magnifying-glass {
    color: var(--color-principal);
    font-size: 35px;
    padding-right: 10px;
}

.menuCategories{
    display: none;
}

.menuCategories.active {
    position: absolute;
    left: 0;
    top: 73px;
    max-width: 767px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: .15);
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
}

.menuCategories.active .menu-item{
    padding: 10px 20px;
    text-decoration: none;
    color: var(--color-font);
    font-size: 20px;
}

.searchSection{
    display: none;
}

.searchSection.active{
    position: absolute;
    top: 73px;
    display: flex;
    justify-content: flex-end;
    height: 47px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: .15);
}

.searchSection.active .searchForm{
    position: relative;
    width: 90%;
    margin: auto;
}

.searchSection.active .searchBar{
    width: 100%;
    height: 32px;
    padding: 0 44px 0 12px;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: none;
    border-top: none;
    font-size: 10px;
    font-style: italic;
}

.searchSection.active .searchButton{
    position: absolute;
    top:50%;
    right: 6px;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.searchSection.active .searchButton i.fa-magnifying-glass {
    font-size: 16px;
}

@media (min-width: 768px) {

    header{
        max-width: 991px;
    }

    .tablet{
        display: none;
    }
    
    .navbar {
        max-width: 991px;
    }

    .navActions{
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .navItems{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .navActions .searchForm{
        display: flex;
        align-items: center;
        padding-right: 20px;
    }
    
    .navActions .searchBar{
        width: 182px;
        height: 32px;
        border-right: 1px solid rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
        border-left: none;
        border-top: none;
        font-size: 10px;
        font-style: italic;
    }

    .navActions .searchButton{
        width: 32px;
        height: 32px;
        border:none;
        background-color: transparent;
    }

    .menuCategories.active {
        position: absolute;
        top: 73px;
        left: 0;
        max-width: 987px;
        width: 100%;
        overflow-x: hidden;
    }
    
}

/* Desktop */
@media (min-width: 992px) {
    header{
        max-width:100vw;
    }

    .fa-bars {
        display: none;
    }

    .navbar{
        max-width:100vw;
        height: 131px;
        display: flex;
        flex-direction: row-reverse;
    }

    .navTop{
        display: flex;
        align-items: center;
    }

    .navTop .logo_header{
        width: 150px;
        height: auto;
    }   

    .navActions{
        width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .navActions .searchForm{
        display: flex;
        align-items: center;
        padding-right: 0px;
    }

    .navActions .searchButton{
        width: 40px;
        height: 40px;
    }

    .navActions .searchButton i.fa-magnifying-glass {
        color: var(--color-principal);
        font-size: 30px;
    }

    .menuCategories{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        padding-right: 40px;
        gap: 20px;
    }

    .navItems{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .menu-item{
        font-size: 20px;
        color: var(--color-font);
        text-decoration: none;
    }

    .searchSection{
        display: none;
    }
}