.tta-card-result {
    background: var(--color-secondary);
    border-radius: .75rem;
    border: 1px solid rgba(56, 64, 80, 0.08);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    gap: 50px;
}

.tta-card-result .profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.tta-card-result .tta-stars {
    margin-top: 8px;
    font-size: 1.2em;
}

.tta-card-result .details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--text-color);
}

.tta-card__name{
    color: var(--text-color);
}

/* Tablet */
@media (min-width: 768px) {
    .tta-card-result .tta-stars{
        font-size: 1em;
    }
}

/* Desktop */
@media (min-width: 992px) {}